LeutesdorfForestODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI 
  xmlns:sch="http://purl.oclc.org/dsdl/schematron"
  xmlns="http://www.tei-c.org/ns/1.0">
   <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="LeutesdorfForestODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core" exclude="email"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="msdescription"/>
      </schemaSpec>
    <elementSpec ident="persName" module="namesdates" mode="change">
      <content>
        <textNode/>
      </content>
    <constraintSpec ident="persName" scheme="schematron">
      <constraint>
        <sch:rule context="tei:persName">
         <sch:let name="standoff" value="doc('https://raw.githubusercontent.com/tristanpkrause/HIST-630/main/Standoff_Markup_Leutesdorf_Forest_Investigation.xml')"/>      
          <sch:let name="personIDs" value="$standoff//person/@xml:id"/>
          <sch:let name="error" value="."/>
          <sch:assert test="@ref = $personIDs"
            ><sch:value-of select="$error"/> will bring doom. Seek shelter immediately and pray to your preferred God(s). Acceptable values are:
            <sch:value-of select="personIDs"/>
          </sch:assert>
        </sch:rule>
      </constraint>
    </constraintSpec>
      <attList>
        <attDef ident="ref" mode="change" usage="req"/>   
      </attList>
    </elementSpec>
      
    <elementSpec ident="placeName" module="namesdates" mode="change">
      <content>
        <textNode/>
      </content>
      <constraintSpec ident="placeName" scheme="schematron">
        <constraint>
        <sch:rule context="tei:placeName">
          <sch:let name="standoff" value="doc('https://raw.githubusercontent.com/tristanpkrause/HIST-630/main/Standoff_Markup_Leutesdorf_Forest_Investigation.xml')"/>      
          <sch:let name="placeIDs" value="$standoff//place/@xml:id"/>
          <sch:let name="error" value="."/>
          <sch:assert test="@ref = $placeIDs"
            ><sch:value-of select="$error"/> will summon Uhr, Scion of Darkness. Acceptable values are:
            <sch:value-of select="placeIDs"/>
          </sch:assert>
        </sch:rule>
       </constraint>
      </constraintSpec>
      <attList>
        <attDef ident="ref" mode="change" usage="req"/>
      </attList>
    </elementSpec>  
       
    <elementSpec module="namesdates" ident="persName" mode="change">
       <content>
         <sequence preserveOrder="true">
         <elementRef key="forname"/>
         <elementRef key="lastname"/>
         </sequence>
       </content> 
        
        <attList>
          <attDef ident="type" mode="change" usage="req">
            <datatype>
              <dataRef key="teidata.enumerated"/>
            </datatype>
            <valList type="closed" mode="replace">
              <valItem ident="rank">
                <gloss>role name</gloss>
                <desc>U.S. military rank</desc>
              </valItem>
           </valList>
          </attDef>
        </attList>
      </elementSpec>
    </body>
  </text>
</TEI>
