LeutesdorfForestODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0"
  <!--<?xml version="1.0" encoding="UTF-8"?>
  <sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process">
    <sch:ns uri="http://www.tei-c.org/ns/1.0" prefix="tei"/>
    <sch:pattern>
      
      <sch:rule context="tei:persName">
        <sch:let name="standoff"
          value="doc('https://raw.githubusercontent.com/tristanpkrause/HIST-630/main/Standoff_Markup_Leutesdorf_Forest_Investigation.xml')"/>      
        <sch:let name="personIDs"
          value="$standoff//person/@xml:id"/>
        <sch:let name="error" value="."/>
        <sch:assert
          test="@ref = $personIDs"
          ><sch:value-of select="$error"/> will bring doom. Seek shelter immediately and pray to your preferred God(s).Acceptable values are:
          <sch:value-of select="personIDs"/>
        </sch:assert>
      </sch:rule>
      <sch:rule context="tei:placeName">
        <sch:let name="standoff"
          value="doc('https://raw.githubusercontent.com/tristanpkrause/HIST-630/main/Standoff_Markup_Leutesdorf_Forest_Investigation.xml')"/>      
        <sch:let name="placeIDs"
          value="$standoff//place/@xml:id"/>
        <sch:let name="error" value="."/>
        <sch:assert
          test="@ref = $placeIDs"
          ><sch:value-of select="$error"/> will summon Uhr, Lord of Darkness.
          <sch:value-of select="placeIDs"/>
        </sch:assert>
      </sch:rule>
    </sch:pattern>     
  </sch:schema>-->
 <!-- sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" 
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process"> 
    <sch:ns uri="http://www.tei-c.org/ns/1.0" prefix="tei"/>
    <sch:pattern>
      <sch:rule context="// tei:persName/@type">
        <sch:assert test=".='Drugan'"></sch:assert>
      </sch:rule>
      <sch:rule context="// tei:placeName/@type">
        <!-\-<sch:pattern>
                <sch:rule context="tei:persName/@ref">
                    <sch:assert test=". ='#place' pr .='#something'">
                        This @ref atribute must include a #placexxx".
                    </sch:assert>-\->
      </sch:rule>
      <sch:rule context="// tei:name/@type">
        
      </sch:rule>
      <!-\-  <sch:let name="taxonomyAllURIs"-\->
      <!-\-    value= "$ti//listURI[@type='taxonomyAllURIs']/uri""/> -\->
      
      <!-\-  <sch:let name="STO"  value="doc ('")-\->
    </sch:pattern>
  </sch:schema>
  -->
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Title</title>
      </titleStmt>
      <publicationStmt>
        <p>Publication Information</p>
      </publicationStmt>
      <sourceDesc>
        <p>Information about the source</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="LeutesdorfForestODD" start="TEI">
        <moduleRef key="header"/>
        <moduleRef key="core" exclude="email"/>
        <moduleRef key="tei"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="msdescription"/>
      </schemaSpec>
     <!-- <attList>
        <attDef ident="xml:id" usage="req" mode="add">
          <datatype>
            <dataRed name="ID"/>
          </datatype
        </attDef>
      </attList>-->
<!--      require ref=-->
      
      <elementSpec module="namesdates" ident="persName" mode="change">
       <content>
         <sequence preserveOrder="true">
         <elementRef key="forname"/>
         <elementRef key="lastname"/>
         </sequence>
       </content> 
        
        <attList>
          <attDef ident="type" mode="change" usage="req">
            <datatype>
              <dataRef key="teidata.enumerated"/>
            </datatype>
            <valList type="closed" mode="replace">
              <valItem ident="rank">
                <gloss>role name</gloss>
                <desc>U.S. military rank</desc>
              </valItem>
           </valList>
          </attDef>
        </attList>
      </elementSpec>
    </body>
  </text>
</TEI>
