Schematron_HIST630.sch

<?xml version="1.0" encoding="UTF-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2"
    xmlns:sqf="http://www.schematron-quickfix.com/validator/process">
    <sch:ns uri="http://www.tei-c.org/ns/1.0" prefix="tei"/>
    
    <!--<sch:pattern>
        <sch:rule context="tei:note/@resp">
            <sch:assert test=". = '#unknown'">
                This @resp attribute must be "#unknown"
            </sch:assert>
        </sch:rule>
    </sch:pattern> 
    -->
        
    <sch:pattern>
        <sch:rule context=tei:"persName>
             test=""
    value="doc(URL for standoff)"  
            <sch: name="SO
            <sch: let name="errort" value="."
        </sch:rule>
        
    </sch:pattern> 
    
    
    


